/*               Settings                  */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Pacifico&family=Rubik+Bubbles&display=swap");
@font-face {
  font-family: "Pesta";
  src: url(../fonts/Pesta.ttf);
  font-weight: 400;
}
/*               Fonts                  */
/*               Colors                  */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #ffffff;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/*               Blocks                   */
.happy {
  padding: 30px 0;
}

.happy__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.start__inner {
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 609px) {
  .start__inner {
    right: 0;
  }
}

.start__click {
  margin-bottom: 20px;
  font-family: "Pacifico";
  font-size: 50px;
}
.start__click span {
  padding: 0px 10px;
}
@media (max-width: 609px) {
  .start__click {
    font-size: 20px;
  }
}

.start-btn {
  padding: 30px 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 15px #ffffff;
  font-family: "Rubik Bubbles";
  font-size: 70px;
  color: #0084ff;
  transition: box-shadow 0.2s linear;
}
.start-btn span {
  color: #ffd900;
}
.start-btn:hover {
  box-shadow: 0px 0px 55px #ffffff;
}
@media (max-width: 609px) {
  .start-btn {
    font-size: 30px;
  }
}

.happy__content {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #ff0022;
  background-color: #ff0022;
  border-radius: 30px;
  box-shadow: 0px 0px 115px #ffffff;
  transform: translateY(-50px);
}
.happy__content.element__show {
  transition: all 1.5s;
  transform: translateY(0);
}

.happy__title {
  margin-bottom: 50px;
  font-family: "Pesta";
  font-size: 100px;
}
@media (max-width: 971px) {
  .happy__title {
    font-size: 50px;
  }
}

.happy__desc {
  font-family: "Pacifico";
  font-size: 30px;
  line-height: 50px;
}
.happy__desc:not(:last-child) {
  margin-bottom: 30px;
}
.happy__desc--blue {
  color: #0084ff;
}
.happy__desc--blue span {
  color: #ffd900;
}

/*						*/
.activate {
  display: flex;
}

.deactivate {
  display: none;
}

.countdown-title {
  font-family: "Pacifico";
  color: #ffffff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown {
  font-family: sans-serif;
  color: #ffffff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}

.countdown-time {
  font-family: "Rubik Bubbles";
  padding: 15px;
  border-radius: 3px;
  background: #e7e7e7;
  color: #0084ff;
  display: inline-block;
}

.countdown-text {
  font-family: "Rubik Bubbles";
  display: block;
  padding-top: 5px;
  font-size: 16px;
  color: #ffd900;
}
