@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Pacifico&family=Rubik+Bubbles&display=swap');
@font-face {
	font-family: "Pesta";
	src: url(../fonts/Pesta.ttf);
	font-weight: 400;
}