/*               Fonts                  */
$font-main: "Pacifico";
$font-button: "Rubik Bubbles";
$font-title: "Pesta";

/*               Colors                  */
$dark: #303030;
$white: #ffffff;
$pink: #ff6e6e;
$background: #ff0022;