/*               Fonts                  */
$font-main: "Pacifico";
$font-button: "Rubik Bubbles";
$font-title: "Pesta";

/*               Colors                  */
$dark: #303030;
$white: #ffffff;
$gray: #e7e7e7;
$pink: #ff6e6e;
$background: #ff0022;
$yellow: #ffd900;
$blue: #0084ff;